*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #DCF2F1;
}
.nav-bar{
    height: 60px;
    padding-left: 30px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}
.logo{
    font-weight: bold;
    font-size: 25px;
    color: #7BD3EA;
    margin-right: 30px;
}
.right{
    display: flex;
    gap: 80px;
    margin-right: 40px;
}
.introduction{
    height: 500px;
    background-color: #3344;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.portfolio,.heading-about{
    font-weight: bold;
    font-size: 48px;
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
    color: #222a2f;
}
.intro-para,.about-para{
    font-weight: bold;
}
#port-image{
    border-radius: 5px;
    box-shadow: 1px 0px 16px 8px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
}


.about-me{
    background-color: #FBF0B2;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#about-me{
    margin-bottom: 100px;
}
.heading-about{
    color: #064663;
}
.orange{
    color: orangered;
    font-family: 'Nunito Sans',sans-serif;
}

.skills{
    height: auto;
    background-color: #9EC8B9;
    text-align: center;
}
#lang{
    padding: 30px;
}
#lang > li{
    list-style: none;
    display: inline;
    font-weight: 'Rubik', sans-serif;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.heading-skills,#heading-projects{
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #270082;
}

.projects{
    height: 400px;
    background-color: #A2B29F;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projects > .content > a{
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
#heading-projects{
    color: orangered;
    padding: 40px 0px;
}
.projects > .content > p{
    padding: 20px;
    font-weight: bold;
}
.description > img{
    box-shadow: 1px 0px 16px 8px rgba(0,0,0,0.2), 0px 6px 20px 0px rgba(0,0,0,0.19);
}

marquee{
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
    color: blue;
}

.footer{
    height: auto;
    background-color: #14171a;
}
footer{
    color: #afafaf;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer > .extra-elements > p{
    color: #c4ccd7;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

@media (max-width: 1100px){
    .nav-bar,.introduction,.about-me,.skills,.projects{
        display: block;
        height: auto;
        text-align: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 20px;
    }
    .logo{
        padding: 30px 0px;
    }

    #port-image{
        height: 150px;
        width: 170px;
        margin: 30px 0px;
    }
    .portfolio,.heading-about,.heading-skills{
        font-size: 30px;
        padding-top: 30px;
    }

    #about-me{
        height: auto;
        margin-bottom: 0;
    }
    .about-para{
        padding-bottom: 30px;
    }
    .about-me > #minion > img{
        height: 250px;
        width: 150px;
        padding-top: 20px;
    }

    .skills{
        height: auto;
    }
    #lang > li{
        font-size: 16px;
        padding: 0;
        margin: 0;
    }
    #lang{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .description > img{
        height: 110px;
        margin: 20px 0px;
    }
}